.Rproj.user
.Rhistory
.RData
.Ruserdata
productos/Situacion_Internacional.pptx
*.png
productos/BULLETS_COVID-19_14-12-2021.docx
productos/Plantilla.pptx
productos/indicadores_internacional.pptx
productos/Alertómetro_2021-12-17.pptx
productos/BULLETS_COVID-19_17-12-2021.docx
productos/~$indicadores_internacional.pptx
